body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 0;
    padding: 20px;
    background-color: #aed1dd ;
    color: white;
    font-family: "Roboto Slab";
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;

}

.read {
    background-color: rgba(144,238,144, 0.75) ;
}

.unread {
    background-color: rgba(255, 204, 203);
}

.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    flex: 0 0 20%;
    margin: 3%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 3%;
}

#new-book-form-container {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#new-book-form {
    background-color: #fefefe;
    padding: 20%;
    border: 1px solid #888;
}

#close-button {
    float: right; 
    font-size: 28px;
    background:transparent;
    border-color:transparent;
    margin: 5px 7px;
}

#close-button:hover, #close-button:focus {
    color: red;
    text-decoration: none;
    cursor:pointer;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize:vertical;
}

input[type=submit] {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

label {
    padding: 12px;
    display: inline-block;
}